<div class="p-2 pl-2 pr-2 lg:pl-10 lg:pr-10 bg-blue3 pb-10">
  <div class="grid grid-cols-2 lg:grid-cols-4 text-white gap-6 justify-items-center mt-6">
    <div class="flex flex-col items-center">
      <img src="assets/img/Govco.svg" alt="imagen icono Govco">
      <img src="assets/img/marca%20pais.svg" class="mt-10 h-14 w-14" alt="imagen pais">
    </div>
    <div class="">
      <h1 class="text-lg  font-medium">Portal Único del Estado Colombiano</h1>
      <div class="text-sm mt-4">
        <p class="font-medium">Dirección:</p>
        <p class="font-light">Edificio Murillo Toro Cra. 8a entre calles 12A y 12B.</p>
        <p class="font-light">Bogotá, Colombia.</p>
      </div>
      <div class="text-sm mt-4">
        <p class="font-medium">Horarios de atención:</p>
        <ul class="list-inside list-disc">
          <li class="font-light">Atención Presencial: Martes, Miércoles y Viernes de 9:00 am a 3:00 pm jornada
            continua.
          </li>
          <li class="font-light">Atención Canales Virtuales: Lunes a viernes de 8:30 am - 4:30 pm.</li>
        </ul>
      </div>
      <div class="text-sm mt-4">
        <p class="font-medium">Código Postal:</p>
        <p class="font-light">111711</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex space-x-4">
        <img src="assets/img/telefono.svg" alt="imagen telefono">
        <p class="text-lg font-medium">Contacto</p>
      </div>
      <div class="text-sm mt-4">
        <p class="font-medium">Telefóno:</p>
        <ul class="list-inside list-disc">
          <li class="font-light">Nacional: 01 8000 95 2525</li>
          <li class="font-light">Bogotá: +(57) 601 390 7950</li>
          <li class="font-light">Línea Anticorrupción: 01-800-0912667</li>
        </ul>
        <p class="font-medium">Correo Institucional:</p>
        <p class="underline">soporteccc@mintic.gov.co</p>
      </div>
      <div class="mt-10 text-sm">
        <p class="underline">Solicita una llamada</p>
        <p class="underline">Llamada web</p>
        <p class="underline">Hablemos en línea</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex space-x-4">
        <img src="assets/img/info%20contorno.svg" alt="icono informativo">
        <p class="text-lg font-medium">Acerca del sitio</p>
      </div>
      <div class="mt-4 text-sm">
        <p class="underline">Mapa del sitio</p>
        <p class="underline">Políticas de privacidad</p>
        <p class="underline">Políticas de derechos de autor</p>
        <p class="underline">Términos y condiciones</p>
      </div>
      <div class="flex flex-col">
        <div class="flex space-x-4 mt-6">
          <img src="assets/img/persona.svg" alt="icono persona">
          <p class="text-lg font-medium">Ayudas de accesibilidad</p>
        </div>
        <p class="underline text-sm">Centro de revelo</p>
      </div>
      <div class="flex flex-col mt-8">
        <div class="flex space-x-4">
          <img src="assets/img/twitter.svg" alt="icono de twitter">
          <p class="text-sm font-medium underline">Síguenos en Twitter</p>
        </div>
        <div class="flex space-x-4 mt-2">
          <img src="assets/img/facebook.svg" alt="icono de facebook">
          <p class="text-sm font-medium underline">Síguenos en Facebook</p>
        </div>

      </div>
    </div>
  </div>
</div>
