<div class="p-2 pl-2 pr-2 lg:pl-10 lg:pr-10 mb-8">
  <h1 class="text-2xl text-blue2 mt-14 font-medium">Contactos de emergencia</h1>
  <p class="text-blue2  mt-1 text-xl">Llama a las líneas de atención corresppndientes a tu necesidad.</p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
    <div class="flex flex-col">
      <div class="flex space-x-2 items-center">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">123</p>
        <p class="text-gray3 font-light">Línea Única de Atención de Emergencias</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">167</p>
        <p class="text-gray3 font-light">Línea Antinarcóticos</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">165</p>
        <p class="text-gray3 font-light">Línea Antisecuestro y Antiextorsión</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">155</p>
        <p class="text-gray3 font-light">Línea Atención a Mujeres</p>
      </div>
    </div>
    <div>
      <div class="flex space-x-2 items-center">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">191</p>
        <p class="text-gray3 font-light">Línea Cruz Roja</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">144</p>
        <p class="text-gray3 font-light">Línea Defensa Civil</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">#767</p>
        <p class="text-gray3 font-light">Línea Seguridad Vial</p>
      </div>
      <div class="flex space-x-2 items-center mt-1.5">
        <img src="assets/img/telefono-contorno.svg" alt="imagen telefono">
        <p class="text-blue2 font-semibold">166</p>
        <p class="text-gray3 font-light">Línea Transparencia Institucional</p>
      </div>
    </div>
  </div>
</div>
